<% unless !user_signed_in? %>
<h1>Quiz Master Home</h1>
<% if current_user.user_type == "Teacher" %>
    <%= render '/pages/teacher.html.erb' %>
<% else %>
    <%= render '/pages/student.html.erb' %>
<% end %>
<% end %>
