<style>

    body{
        background:linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)

        ), url("/bg2.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1{
        color: black;
        font-weight: 500;
    }
    .footer-links{
        margin-top: 18%;
        text-align: center;
    }
    .container-index{
        opacity: 0.7;
        margin-left: 15%;
        margin-top: 5%;
    }
    .para{
        font-weight: 500;
        font-size: 110%;
    }
    
</style>


<div class="container-index">
            <h1>Welcome to Quiz Master</h1>
                <br/>
				<p class="para">
						Learning never stops! <br/>
						Keep on taking knowledge! <br/>
						Take your academics here at Quiz Master!
				</p>
</div>		
		
		
<p class="footer-links">About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  Info  Brand  Advertise  Business  Media  Developers  Directory  @ 2017  QuizMaster</p>
		
